
  .contactPage {
    display: flex;
    flex-wrap: wrap;
    height: 550px;
    }

    .pic {
        width: 375px;
    }

    .info {
        line-height: 1.6;
        text-align: center;
        width: 300px;
    }

@media only screen and (min-width: 600px) {
    .pic {
        width:850px;
        height: auto;
        opacity: .9;
    }

    .info {
        margin-left: 100px;
        margin-top: 200px;
    }
}