

@media only screen and (min-width: 600px) {
    .contactPage {
        font-family: 'Roboto', sans-serif;
        display: flex;
    }
    .info {

        background-color:rgba(132,195,207,0.35);
        box-shadow: 10px 10px 5px gray;
        padding: 20px;
        margin: 400px auto;
        font-size: 25px;

        
    }
    .lowerBack {
        margin-top: 150px;
        margin-left: 200px;
        width: 450px;
        height: auto;
        opacity: .6;
    }

}