    .servicePage {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 480px;
    }

    .intro {
        border-radius: 15px;
        line-height: 1.6;
        margin-left: 30px;
        margin-top: 30px;
        font-size: 15px;
        padding: 25px;
        width: 400px;
        background-color:rgb(250, 250, 250);
        box-shadow: 10px 10px 5px gray;
    }

    .services {
        border-radius: 15px;
        padding: 15px;
        background-color:rgb(250, 250, 250);
        margin-left: 10px;
        margin-top: 30px;
        box-shadow: 10px 10px 5px gray;
        margin-bottom: 10px;
    }
@media only screen and (min-width: 600px) {
    .servicePage {
        margin: 50px auto;
    }
    .intro {
        margin-left: 30px;
        font-size: 20px;
        padding: 25px;
        height: 300px;
        width: 900px;
    }

    .items {
        font-size: 20px;
        margin-right: 20px; 
    }

    .services {
        height: 300px;
        padding: 25px;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .item {
        font-size: 25px;
        margin: 10px;
    }
}