
@media only screen and (min-width: 600px) {
    .intro {
        position: relative;
        font-size: 15px;
        width: 350px;
    }
    .pageTitle {
        font-size: 30px;
    }
    .items {
        margin: 20px;
}
  
}