

@media only screen and (min-width: 600px) {
body {
    /* background-image: url('/client/public/assets/background_2.jpg'); */
    background-color: rgb(172, 213, 230,0.5);
    background-size: 2000px 800px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Questrial', sans-serif;
}
} 