

@media only screen and (min-width: 600px) {
body {
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: 2000px 800px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Questrial', sans-serif;
}
} 