
    .menu {
        padding-top: 5px;
        height: 30px;
        text-align: center;
    }
    .navBar {
        /* position: fixed; */
        /* overflow: auto; */
        /* top: 0; */
        background-color: rgba(255, 255, 255, 0.7);
        height: 80px;
    }
    .navButton {
        border: none;
        border-radius: 15px;
        justify-items: center;
        background-color: black;
        color: #f2f2f2;
        text-decoration: none;
        font-size: 16px;
        padding: 6px 6px;
        margin:1px;
        
    }

    .contact {
        font-size: 20px;
        text-align: left;
        height: 25px;
        padding:10px;
        margin-left: 20px;

    }
    
    .linkStyle {
        color: white;
        text-decoration: none;
    }

    .navButton:hover {
        background-color: rgb(33, 116, 141);
        border-bottom: solid 4px rgb(151, 226, 10); 
    }

    .logo {
        padding: 10px;
        height: 80px;
        margin-left: 20px;
        margin-top: -15px;
        float: left;
    }
    .contact {
        display: none;
    }

    .logo {
    display: none;
    }

    .social {
        display: none;
    }
@media only screen and (min-width: 600px) {

    .navBar {
        display: flex;
        flex-wrap: wrap;
        height: 90px;
    }

    .contact {
        display: block;
        font-size: 20px;
        text-align: left;
        height: 200px;
        width: 300px;
        padding:10px;
        margin-top: 10px;

    }

    .navButton {
        margin: 5px;
        font-size: 20px;
        padding: 10px 30px;
    }
    .logo {
        display: block;
        padding: 10px;
        height: 70px;
        margin-left: 20px;
        margin-top: -10px;
        float: left;
    }

    .social {
        display: block;
        margin-top: 20px;
        margin-left: 130px;     
    }

   .logos {
        padding: 10px;
        width: 30px;
    }

}