    /* .navBar {
        animation: pulse 5s infinite;
    }

    @keyframes pulse {
        0% {
        background-color: rgba(10,70,114,0.7);
        }
        90% {
        background-color: rgba(27, 87, 99, 0.702);
        }
    } */

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navBar {
        background-color: rgba(10,70,114,0.7);
        height: 80px;
    }
    .navButton {
        border: none;
        justify-items: center;
        background-color: black;
        color: #f2f2f2;
        text-decoration: none;
        font-size: 16px;
        padding: 6px 6px;
        margin:1px;
        
    }

    .contact {
        color: white;
        font-size: 20px;
        text-align: left;
        height: 25px;
        padding:10px;

    }

    .linkStyle {
        color: white;
        text-decoration: none;
    }

    .navButton:hover {
    background-color: rgb(10,70,114);
    border-bottom: solid 2px white; 
    }

    .logo {
        padding: 10px;
        height: 80px;
        margin-left: 20px;
        margin-top: -15px;
        float: left;
    }
    .contact {
        display: none;
    }

    .logo {
    display: none;
    }

    .social {
        display: none;
    }
@media only screen and (min-width: 600px) {

    .navBar {
        display: flex;
        flex-wrap: wrap;
        height: 110px;
    }

    .contact {
        display: block;
        color: white;
        font-size: 20px;
        text-align: left;
        height: 200px;
        width: 300px;
        padding:10px;
        margin-top: 20px;

    }

    .navButton {
        margin: 5px;
        font-size: 20px;
        padding: 10px 30px;
    }
    .logo {
        display: block;
        padding: 10px;
        height: 80px;
        margin-left: 20px;
        margin-top: -15px;
        float: left;
    }

    .social {
        display: block;
        margin-top: 30px;
        margin-left: 150px;     
    }

   .logos {
        padding: 10px;
        width: 30px;
    }

}