.navBar {
    animation: pulse 5s infinite;
  }

  @keyframes pulse {
    0% {
      background-color: rgba(10,70,114,0.7);
    }
    90% {
      background-color: rgba(42, 152, 173, 0.702);
    }
  }
  /* .navButton {
    position: relative;
    background-color: rgb(0, 0, 0);
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .navButton:after {

    background: rgb(117, 122, 117);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .navButton:active:after {
    padding: 0;
    margin: 0;
    opacity: .1;
    transition: 0s
  } */


.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navBar {
    background-color: rgba(10,70,114,0.7);
    height: 80px;
}
.navButton {
    border: none;
    justify-items: center;
    background-color: black;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 15px;
    padding: 5px 6px;
    margin:1px;
    
}

.headerDiv {
    color: white;
    font-size: 20px;
    text-align: center;
    height: 25px;
    padding: 2px;
}

.linkStyle {
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: 600px) {
.navBar {
    background-color: rgba(10,70,114,0.7);
    height: 110px;
}

.headerDiv {
    color: white;
    font-size: 30px;
    text-align: center;
    height: 30px;
    padding: 5px;
}

.navButton {
    margin: 5px;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    padding: 10px 30px;
}

}