.navBar {
    animation: pulse 5s infinite;
  }

  @keyframes pulse {
    0% {
      background-color: rgba(10,70,114,0.7);
    }
    90% {
      background-color: rgba(27, 87, 99, 0.702);
    }
  }

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navBar {
    background-color: rgba(10,70,114,0.7);
    height: 80px;
}
.navButton {
    border: none;
    justify-items: center;
    background-color: black;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 6px;
    margin:1px;
    
}

.headerDiv {
    color: white;
    font-size: 20px;
    text-align: center;
    height: 25px;
    padding: 2px;
}

.linkStyle {
    color: white;
    text-decoration: none;
}

.navButton:hover {
   background-color: rgb(10,70,114);
   border: solid 1px white; 
}

@media only screen and (min-width: 600px) {
.navBar {
    background-color: rgba(10,70,114,0.7);
    height: 110px;
}

.headerDiv {
    color: white;
    font-size: 30px;
    text-align: center;
    height: 30px;
    padding: 5px;
}

.navButton {
    margin: 5px;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    padding: 10px 30px;
}

}