@media only screen and (min-width: 600px) {
    .reviewForm {
        border: 1px solid blue;
        margin-top: 30px;
        margin-left: 10px;
        padding: 10px;
        width: 400px;
        background-color: #E6F2F8;
        box-shadow: 10px 10px 5px gray;
        
    }
    input {
        padding: 10px;
        height: 20px;
        width: 300px;
        margin: 10px;
    }

    .nameInput,.emailInput,.commentInput {
        margin-left: 30px;
        
    }

    .commentInput {
        resize: none;
        height: 200px;
        width: 320px;

    }

    .formButton {
        border: none;
        color: white;
        font-size:20px;
        background-color: #0A4672;
        width:80px;
        height: 30px;
    }
}