@media only screen and (min-width: 600px) {
.reviewForm {
    margin-left: 20px;
    padding: 10px;
    width: 30%;
    background-color: #E6F2F8;
    float: left;
}

input {
    width: 200px;
    margin: 10px;
}

.nameInput,.emailInput, .commentInput {
    margin-left: 20px;
}

.commentInput {
    height: 200px;

}

button {
    border: none;
    float : right;

}
}