 .testimonialPage {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
@media only screen and (min-width: 600px) {
    
        .allReviewsBox {
            background-color:rgba(132, 195,207, .5);
            display: flex;
            flex-wrap: wrap;
            margin-left: 70px;
            margin-right: 170px;
            margin-top: 50px;
            padding: 15px;
            box-shadow:  6px 6px  5px rgba(0, 0, 0, 0.5);
            line-height: 1.3;
        }
        
        .reviewBox {
            width: 350px;
            max-height: 200px;
            overflow: auto;
            padding: 15px;
            margin: 10px;
        }
        ::-webkit-scrollbar {
            width: 12px;
        }
         
        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
        }
        .bTitle {
            font-size: 30px;
        }
    
}