
@media only screen and (min-width: 600px) {
        .testimonialPage {
            font-family: 'Roboto', sans-serif;
        display: flex;
        margin: 50px auto;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        }
        
        .allReviewsBox {
            background-color:rgba(132, 195,207, .5);
            display: flex;
            flex-wrap: wrap;
            margin-left: 70px;
            margin-right: 170px;
            padding: 15px;
            box-shadow:  6px 6px  5px rgba(0, 0, 0, 0.5);
            line-height: 1.3;
        }
        
        .reviewName {
            font-size: 15px;
            font-weight: bold;
            text-align: center;
            padding-top: 10px;
        }
        .reviewBox {
            width: 350px;
            max-height: 200px;
            overflow: auto;
            padding: 15px;
            margin: 10px;
            border:dotted 3px   rgba(10,70,114,0.7);
        }
        ::-webkit-scrollbar {
            width: 12px;
        }
         
        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
        }
        .bTitle {
            font-size: 30px;
        }
    
}