
  .slideShow {
    display: none;
  }
@media screen and (min-width: 600px) {
  .slideShow {
    margin-left: 30px;
    display: block;
    position:relative;
    width: 950px;
    height:650px;
    overflow: hidden;
  }
  
  .slideShow img {
    position:absolute;    
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    overflow: hidden;
  }

    @keyframes slideShowFadeInOut {
      0% {
      opacity:1;
    }
    45% {
    opacity:1;
    }
    55% {
    opacity:0;
    }
    100% {
    opacity:0;
    }
    }
    
    .slideShow img.top {
    animation-name: slideShowFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
    }
      
    .img {
        float: left;
        width:  auto;
        height: 710px;
        z-index: -1;
    }
  }