  .welcomePage {
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 600px;
    margin-left: 100px;
    }

    .welcome {
        background-color:rgb(250, 250, 250);
        border-radius: 15px;
        padding: 10px;
        padding-left: 50px;
        margin:20px;
        width: 400px;
        height: 220px;
        margin-top: 200px;
        box-shadow:  6px 6px 5px rgba(0, 0, 0, 0.5);

    }

    .welcomeInfo {
        font-size: 60px;
        color: #0A4672;
    }

@media screen and (min-width: 600px) {
   
    

}