

@media only screen and (min-width: 600px) {
    .welcomePage {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    }
    
    .welcome {
        height:100%;
        margin-top: 40px;
        color: #0A4672;
        font-size: 40px;
        margin-left: 100px;
    
    }
    .officeName {
        text-shadow: 3px 4px rgba(10, 70, 114, 0.5);
        height:100%;
        padding:5px;
        margin-top: 90px;
        margin-left:-210px;
        color: #0A4672;
        font-size: 70px;
    }

    

}