  .welcomePage {
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 98vh;
    margin-left: 100px;
    }

    .welcomes {
        background-color:rgb(250, 250, 250);
        border-radius: 15px;
        padding: 10px;
      
        margin:40px;
        width: 400px;
        height: 200px;
        margin-top: 200px;
    }
@media screen and (min-width: 600px) {
   
    

}